@model Parcial02.Models.ClsCajero
@{
    ViewBag.Title = "Correcto";
}
<br />

<div class="alert alert-success role="alert"">
    <h3>Si Puede retirar</h3>
    <p>La cantidad es divisible entre 5</p>
</div>