@model Parcial02.Models.ClsCajero
@{
    ViewBag.Title = "Incorrecto";
}
<br />

<div class="alert alert-danger role=" alert"">
    <h3>No se puede retirar</h3>
    <label>No es divisible entre 5</label>
</div>