@model Parcial02.Models.ClsCajero
@{
    ViewBag.Title = "IndexCajero";
}

<br />

<div class="alert alert-info" role="alert">
    <strong>¡NOTA!</strong> Para retirar el monto debe ser divisible entre 5
</div>

<h2>Bienvenido al cajero de CredoBanc</h2>
@using (Html.BeginForm("IndexCajero", "Cajero", FormMethod.Post))
{
    <label>Escriba el Monto</label>
    <br />
    @Html.TextBoxFor(banc => banc.monto)
    <input type="submit" class="btn btn-success" />
}
